<div id="<%= dom_id estado %>">
  <p>
    <strong>Nome:</strong>
    <%= estado.nome %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= estado.sigla %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= estado.pais_id %>
  </p>

</div>
